<div class="main-product-container">
  @for (product of productsStoreItem.products$ | async; track $index) {
    <div class="mx-5 p-3 product-card">
      <div class="product-image-container">
        <a [routerLink]="'/home/product/' + product.id">
          <img [src]="'/images/' + product.image" [alt]="product.name" />
        </a>
      </div>
      <div class="product-info">
        <h5>
          <a [routerLink]="'/home/product/' + product.id">{{product.name}}</a>
        </h5>
        <p class="product-price">{{product.price | currency: 'USD'}}</p>
        <app-ratings [score]="product.rating"></app-ratings>
        <div class="my-3" (click)="addToCart(product)">
          <div class="cart-button">
            <div class="cart-icon-container">
              <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
            <div class="cart-text-container mx-3">
              <p>Add to Cart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @empty {
    <div class="text-center">
      <h3>No products found</h3>
    </div>
  }
</div>
