<div class="header bg-dark">
  <div class="row">
    <div class="brand my-1">
      <h1>estore</h1>
    </div>
    <div id="search-bar-container" class="p-0 my-4 w-50 h-25 bg-white">
      @if (displaySearch) {
        <select
          #categoryOptions
          name="category-dropdown"
          id="category-dropdown"
          class="dropdown p-0 m-0"
        >
          @for (category of categoryStore.topLevelCategories$ | async; track category.id) {
            <option value="{{category.id}}">{{category.category}}</option>
          }
        </select>
        <input #keyword type="text" class="form-control search-box" placeholder="Search..." />
        <button class="search-button" (click)="onClickSearch(keyword.value, categoryOptions.value)">
          <fa-icon [icon]="faSearch" />
        </button>
      }
    </div>

    @if (!isUserAuthenticated) {
      <div class="login-container p-0">
        <fa-icon class="user-icon" [icon]="faUserCircle"></fa-icon>
        <h5>
          <a (click)="navigateToLogin()">Sign in</a> / <a (click)="navigateToSignup()">Join</a>
        </h5>
      </div>
    } @else {
      <div class="user-container p-0">
        <div class="dropdown user-dropdown">
          <button
            class="btn btn-secondary dropdown-toggle user-dropdown-button"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUserCircle"></fa-icon>
            Hi {{userName}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="navigateToOrderHistory()">Past Order</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    }

    <div class="cart-wishlist o-0 list-item">
      <button type="button" class="btn btn-dark position-relative" (click)="navigateToCart()">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        @if (cartStore.cart$ | async; as cart) {
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"
          >
            {{cart.totalProducts}}
          </span>
        }
      </button>
    </div>
  </div>
</div>
